.orders-products-card {
  padding: 10px;
  margin-top: 15px;
  border-radius: 7px;
  display: flex;
  padding-right: -50px;
  width: 100%;
  background: white;
  box-shadow: 0px 10px 100px #111;
  margin-right: 100px;
  justify-content: space-between;
}